.bg-bone-white {
  background-color: #f4eee8;
}

.completed {
  text-decoration: line-through;
  color: #aeb2b4;
}

.font-weight-bold {
  font-weight: bold;
}

/* body {
  height: 200px; 
  position: relative; 
}

.background-top {
  background-color: #c3b9b7; 
  height: 40%;
  width: 100%;
  position: absolute;
  top: 0;
}

.background-bottom {
  background-color: #2691c6; 
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.split-screen {
  height: 100vh;
} */