.bg-bone-white {
  background-color: #f9f9f9;
}

.completed {
  text-decoration: line-through;
  color: #aeb2b4;
}

.font-weight-bold {
  font-weight: bold;
}

.text-color {
  color: #356b67;
}

.icon-color {
  color: #c3c3c3;
}

/* Light mode styles (default) */
.light-mode {
  color: #000;
  --theme-top-bg-color: #b9b8b8;
  --theme-bottom-bg-color: #e0e0e0;               
}

/* Dark mode styles */
.dark-mode {
  color: #bcbcbc;    
  --theme-top-bg-color: #1c1c1c;
  --theme-bottom-bg-color: #6e6d6d;            
}

/* Light and dark mode button styles */
.btn-dark {
  background-color: #f8f9fa; 
  color: #343a40;              
}

.btn-light {
  background-color: #343a40; 
  color: #f8f9fa;              
}

/* split screen colors */
.split-screen {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--theme-top-bg-color) 40%,
    var(--theme-bottom-bg-color) 40%
  );
}