.bg-bone-white {
  background-color: #f4eee8;
}

.completed {
  text-decoration: line-through;
  color: #aeb2b4;
}

body {
  height: 200px; /* or any height you need */
  position: relative; /* This is important to create a stacking context */
}

.background-top {
  background-color: #c3b9b7; /* Example top color */
  height: 40%;
  width: 100%;
  position: absolute;
  top: 0;
  /* z-index: 1; */
}

.background-bottom {
  background-color: #2691c6; /* Example bottom color */
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* z-index: 0; */
}

.split-screen {
  height: 100vh;
}